@font-face {
    font-family: Cartoon;
    src: url(../font/National\ Cartoon.ttf);
}

@font-face {
    font-family: Cond;
    src: url(../font/Sulangor-SemCond.otf);
}

@font-face {
    font-family: Rubik;
    src: url(../font/RubikDirt-Regular.ttf);
}

::-webkit-scrollbar {
    display: none;
  }
body {
    margin: 0;
}
.timer-container {
    width: 100vw;
    /* height: 180vh; */
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-direction: column;
    gap: 5vw;
    /* background: linear-gradient(to bottom, rgb(228, 167, 243), rgb(119, 249, 253)); */
    margin: 0;
    position: relative;
    overflow: auto;;
}
.bg-img {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    filter: brightness(90%);
}
.timer-tools {
    display: flex;
    gap: 2vw;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 1vw 0;
    margin: 3vw;
}
.button-90s {
    padding: 1.5vw 2.5vw;
    font-size: 1.25vw;
    background-color: rgb(253, 108, 108);
    border-radius: 2vw;
    transition: all 0.8s ease-out;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.493);
    border: none;
    color: rgb(56, 46, 46);
    cursor: pointer;
    font-family: Cond;
}
.button-90s:hover {
    background-color: rgb(194, 12, 12);
    color: white;
}
.timer {
    background-color: rgb(243, 115, 98);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.493);
    padding: 3vw 4vw;
    border-radius: 10vw;
}
.timer90s {
    background-color: rgb(243, 115, 98);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.493);
    padding: 3vw 4vw;
    border-radius: 10vw;
    animation: timer-bg 90s linear;
}
.timer120s {
    background-color: rgb(243, 115, 98);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.493);
    padding: 3vw 4vw;
    border-radius: 10vw;
    animation: timer-bg 120s linear;
}
.timer-default-text {
    font-size: 2vw;
    color: rgb(65, 63, 63);
    margin: 0;
    font-family: Cartoon;
}
.timer #timer {
    color: rgb(39, 38, 38);
    font-size: 3vw;
    margin: 0;
    font-family: Cartoon;
}
.progress-bar {
    background-color: rgb(255, 188, 188);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.493);
    width: 25vw;
    height: 2vw;
    border-radius: 2vw;
    overflow: hidden;
}
.progress90s {
    background-color: black;
    background: url(../img/progress1.gif);
    height: 2vw;
    border-radius: 0.8vw;
    animation: progress-anim 90s linear;
}
.progress120s {
    background-color: black;
    background: url(../img/progress1.gif);
    height: 2vw;
    border-radius: 0.8vw;
    animation: progress-anim 120s linear;
}

a:link, a:visited {
    text-decoration: none;
}
.exercises-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8vw;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    padding: 1vw 0;
}
.exercise-1 h2 {
    font-family: Rubik;
    font-size: 2vw;
    color: white;
    font-weight: 100;
    transition: all 0.2s ease-out;
}
.exercise-1 h2:hover {
    letter-spacing: 4px;
}
.exercise-1 img {
    width: 40vw;
    border-radius: 2vw;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.348);
}
.jump-vid {
    height: 35vw;
    border-radius: 2vw;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.548);
    padding: 1vw;
}
.jump-vid-main {
    padding: 0;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.348);
}




/* для pages/dumbbel.html */
.exercises-container2 {
    margin-top: 3vw;
}
.progress-conntainer {
    display: flex;
    flex-direction: column;
    margin: 3vw auto;
    gap: 3vw;
    background-color: rgba(61, 66, 92, 0.466);
    padding: 2vw 4vw; 
    width: 60%;
    border-radius: 1vw;
}
.progress-half-ex {
    display: flex;
    gap: 2vw;
    justify-content: center;
}
.training-img {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.61);
    cursor: pointer;
    border-radius: 2vw;
    padding: 1vw;
}


.timer-90s-anim {
    animation: timer90s 90s linear;
}
.timer-120s-anim {
    animation: timer120s 120s linear;
}

/* progress on dumbbell ex-s page */

.single-ex {
    display: flex;
    gap: 0.5vw;
}
.single-ex input[type="checkbox"] {
    transform:scale(2);
    opacity:0.9;
    cursor:pointer;
}


/* modal */



.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    padding-top: 1vw; /* Расположение коробки */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgba(0, 0, 0, 0.4); /*Черный с непрозрачностью */
  }


.modal-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;;
    overflow: scroll;;
    justify-content: center;
    gap: 2vw;
    background-color: rgba(73, 68, 68, 0.8156862745);
    margin: auto;
    padding: 2vw;
    border-radius: 2vw;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    -webkit-animation: animatetop 0.4s ease-out;
            animation: animatetop 0.4s ease-out;
  }
  .modal-container-for-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
  }
  .modal-content a {
    margin: 0;
    padding: 0;
  }


.modal-content-disappear {
    top: 0;
    opacity: 0;
    -webkit-animation: animbottom 0.4s ease-in;
            animation: animbottom 0.4s ease-in;
  }

.header-text {
    cursor: pointer;
}
.korean-jump {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
}
  
@-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  @-webkit-keyframes animbottom {
    from {
      top: 0;
      opacity: 1;
    }
    to {
      top: -300px;
      opacity: 0;
    }
  }
  @keyframes animbottom {
    from {
      top: 0;
      opacity: 1;
    }
    to {
      top: -300px;
      opacity: 0;
    }
  }
  .close {
    color: white;
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 2.5vw;
    font-weight: bold;
    transition: all 0.4s ease;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }/*# sourceMappingURL=aboutus.css.map */

  .training-img-in-modal {
    height: 90vh !important;
    width: auto !important;
    border-radius: 2vw;
  }
  .training-img-in-modal2 {
    height: 70vh !important;
  }
  .header-text2:hover {
    letter-spacing: 0px !important;
  }
  .header-text2 {
    margin-left: 10vw;
    cursor: inherit !important;
  }
  .header-text3 {
    margin-top: 6vw;
  }







@media (max-width: 1000px) {
    .exercises-container {
        flex-direction: column !important;
        align-items: center !important;
    }
    .timer-container {
        /* height: 100vh !important; */
        justify-content: center !important;
    }
    .button-90s {
        font-size: 4vw !important;
    }
    .timer-default-text {
        font-size: 7vw !important;
    }
    #timer {
        font-size: 7vw !important;
    }
    .progress-bar {
        width: 60vw !important;
        height: 5vw !important;
    }
    .progress90s {
        height: 5vw !important;
        animation: progress-anim-mobile 90s linear;
    }
    .progress120s {
        height: 5vw !important;
        animation: progress-anim-mobile 120s linear;
    }
    .exercise-1 img {
        width: 80vw !important;
    }
    .jump-vid {
        width: 80vw !important;
        height: auto;
    }
    .exercise-1 h2 {
        font-size: 4vw;
    }
}





@keyframes progress-anim {
    from {
        width: 0;
    }
    to {
        width: 25vw;
    }
}
@keyframes progress-anim-mobile {
    from {
        width: 0;
    }
    to {
        width: 60vw;
    }
}

@keyframes timer-bg {
    from {
        background-color: rgb(248, 24, 24);
    }
    to {
        background-color: rgb(247, 250, 81);
    }
}

@keyframes timer90s {
   from {
        background-color: rgb(238, 79, 58);
    }
    to {
        background-color: rgb(219, 250, 81);
    }
}
@keyframes timer120s {
    from {
         background-color: rgb(238, 79, 58);
     }
     to {
         background-color: rgb(219, 250, 81);
     }
 }
